.webgl-content * {border: 0; margin: 0; padding: 0}
.webgl-content {position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}

.webgl-content .footer {margin-top: 5px; height: 38px; line-height: 38px; font-family: Helvetica, Verdana, Arial, sans-serif; font-size: 18px;}
.webgl-content .footer .webgl-logo, .title, .fullscreen {height: 100%; display: inline-block; background: transparent center no-repeat;}
.webgl-content .footer .webgl-logo {background-image: url('webgl-logo.png'); width: 204px; float: left;}
.webgl-content .footer .title {margin-right: 10px; float: right;}
.webgl-content .footer .fullscreen {background-image: url('fullscreen.png'); width: 38px; float: right;}

#loader {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #3B3B3BFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loader-area {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #D9B303FF;
    font-family: ComicSans;
    font-size: 35px;
    font-weight: 100;
}

#loader-area__label {
    margin-bottom: 1px;
}

@media only screen and (min-device-width: 375px) and (max-width: 800px) {
    #loader-area {
        font-size: 35px;
    }
}

@font-face {
    font-family: "ComicSans"; 
    src: url("../fonts/Comic\ Sans\ MS.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 
